TFISolucion/CORE/Service References/SWTarjeta/SWTarjeta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProcesarPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elNroTarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elMonto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarPagoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>